<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../stylesheets/style2.css">
</head>

<body>

    <header>
        <div class="menu container">
            <img class="logo-1" src="../images/image-removebg-preview (1) (1).png" alt="">
            <input type="checkbox" id="menu" />
            <label for="menu">
                <img src="../images/images2/menu.png" class="menu-icono" alt="">
            </label>
            <nav class="navbar">

                <div class="menu-1">
                    <ul>
                        <li><a href="/tienda" id="link-1" >Ingresar Tienda</a></li>
                        <li><a href="/marca">Marcas</a></li>
                        <li><a href="/pedido">Estado del pedido</a></li>
                    </ul>
                </div>

                <img src="../images/images2/logo.svg" class="logo-2" alt="">

                <div class="menu-2">
                    <ul>
                        <li><a href="#">Horario</a></li>
                    </ul>
                    <div class="socials">
                        <a href="#">
                            <div class="social">
                                <img src="../images/images2/s1.svg" alt="">
                            </div>
                        </a>
                        <div class="socials">

                            <a href="#">
                                <div class="social">
                                    <img src="../images/images2/s2.svg" alt="">
                                </div>
                            </a>
                          
                        </div>    
                      </div>
                   </nav>
             </div>

        <div class="header-content container">

            <div class="swiper mySwiper-1">
                <div class="swiper-wrapper">


                    <div class="swiper-slide">
                        <div class="slider">
                            <div class="slider-txt">
                                <h1>Doritos</h1>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate quia saepe eius
                                    velit fuga quos unde, veritatis odit? Omnis quibusdam labore asperiores maxime quam
                                    cupiditate doloribus quidem totam nam quia?
                                </p>
                                <div class="botones">
                                    <a href="#" class="btn-1">Comprar</a>
                                    <a href="#" class="btn-1">Menu</a>
                                </div>
                            </div>
                            <div class="slider-img">
                                <img src="../images/images2/dorito.png" alt="">
                            </div>
                        </div>
                    </div>
                   
                    <div class="swiper-slide">
                        <div class="slider">
                            <div class="slider-txt">
                                <h1>Refrescos</h1>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate quia saepe eius
                                    velit fuga quos unde, veritatis odit? Omnis quibusdam labore asperiores maxime quam
                                    cupiditate doloribus quidem totam nam quia?
                                </p>
                                <div class="botones">
                                    <a href="#" class="btn-1">Comprar</a>
                                    <a href="#" class="btn-1">Menu</a>
                                </div>
                            </div>
                            <div class="slider-img">
                                <img src="../images/images2/fanta-removebg-preview.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="slider">
                            <div class="slider-txt">
                                <h1>Galletas</h1>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate quia saepe eius
                                    velit fuga quos unde, veritatis odit? Omnis quibusdam labore asperiores maxime quam
                                    cupiditate doloribus quidem totam nam quia?
                                </p>
                                <div class="botones">
                                    <a href="#" class="btn-1">Comprar</a>
                                    <a href="#" class="btn-1">Menu</a>
                                </div>
                            </div>
                            <div class="slider-img">
                                <img src="../images/Picnic-Vainilla.webp" alt="">
                            </div>
                        </div>
                    </div>







                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
            </div>

        </div>


    </header>



    <main class="products">
        <div class="tabs container">

            <input type="radio" name="tabs" id="tab1" checked="checked" class="tabInput" value="1">
            <label for="tab1">Hamburguesa</label>
            <div class="tab">
                <div class="swiper mySwiper-2" id="swiper1">

                    <div class="swiper-wrapper">

                        <div class="swiper-slide">
                            <div class="product">
                                <div class="product-img">
                                    <h4>Nuevo</h4>
                                    <img src="../images/images2/jalapeñotes-removebg-preview.png" alt="">
                                </div>
                                <div class="product-txt">
                                    <h4>Producto</h4>
                                    <p>Calidad Premium</p>
                                    <span class="price">$80.00</span>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="product">
                                <div class="product-img">
                                    <h4>Nuevo</h4>
                                    <img src="../images/images2/nachos-removebg-preview.png" alt="">
                                </div>
                                <div class="product-txt">
                                    <h4>Producto</h4>
                                    <p>Calidad Premium</p>
                                    <span class="price">$80.00</span>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="product">
                                <div class="product-img">
                                    <h4>Nuevo</h4>
                                    <img src="images2/food3.png" alt="">
                                </div>
                                <div class="product-txt">
                                    <h4>Producto</h4>
                                    <p>Calidad Premium</p>
                                    <span class="price">$80.00</span>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>

                </div>
            </div>

            <input type="radio" name="tabs" id="tab2" checked="checked" class="tabInput" value="2">
            <label for="tab2">Burritos</label>
            <div class="tab">
                <div class="swiper mySwiper-2" id="swiper2">

                    <div class="swiper-wrapper">

                        <div class="swiper-slide">
                            <div class="product">
                                <div class="product-img">
                                    <h4>Nuevo</h4>
                                    <img src="images2/food4.png" alt="">
                                </div>
                                <div class="product-txt">
                                    <h4>Producto</h4>
                                    <p>Calidad Premium</p>
                                    <span class="price">$80.00</span>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="product">
                                <div class="product-img">
                                    <h4>Nuevo</h4>
                                    <img src="images2/food5.png" alt="">
                                </div>
                                <div class="product-txt">
                                    <h4>Producto</h4>
                                    <p>Calidad Premium</p>
                                    <span class="price">$80.00</span>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="product">
                                <div class="product-img">
                                    <h4>Nuevo</h4>
                                    <img src="images2/food6.png" alt="">
                                </div>
                                <div class="product-txt">
                                    <h4>Producto</h4>
                                    <p>Calidad Premium</p>
                                    <span class="price">$80.00</span>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>

                </div>
            </div>
            <input type="radio" name="tabs" id="tab3" checked="checked" class="tabInput" value="3">
            <label for="tab3">Variedades</label>
            <div class="tab">
                <div class="swiper mySwiper-2" id="swiper3">

                    <div class="swiper-wrapper">

                        <div class="swiper-slide">
                            <div class="product">
                                <div class="product-img">
                                    <h4>Nuevo</h4>
                                    <img src="images2/food7.png" alt="">
                                </div>
                                <div class="product-txt">
                                    <h4>Producto</h4>
                                    <p>Calidad Premium</p>
                                    <span class="price">$80.00</span>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="product">
                                <div class="product-img">
                                    <h4>Nuevo</h4>
                                    <img src="images2/food8.png" alt="">
                                </div>
                                <div class="product-txt">
                                    <h4>Producto</h4>
                                    <p>Calidad Premium</p>
                                    <span class="price">$80.00</span>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="product">
                                <div class="product-img">
                                    <h4>Nuevo</h4>
                                    <img src="images2/food9.png" alt="">
                                </div>
                                <div class="product-txt">
                                    <h4>Producto</h4>
                                    <p>Calidad Premium</p>
                                    <span class="price">$80.00</span>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>

                </div>
            </div>


        </div>
    </main>


    <section class="info container">
        <div class="info-img">
            <img src="../images/images.png" alt="">
        </div>
        <div class="info-txt">
            <h2>Informacion</h2>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam quasi animi, unde voluptatem voluptatum
                ex iste vel possimus doloremque accusantium blanditiis impedit cumque, quisquam aspernatur illum et.
                Iusto, molestias dolorem.
            </p>
            <a href="#" class="btn-2">Mas Informacion</a>
        </div>
        
    </section>

    <section class="horario">
           <div class="horario-info container">
               <h2>Horario</h2>  
               <div class="horario-txt">
                <div class="txt">
                    <h4>Direccion</h4>
                    <p>
                        Los Arenales Santa Ana El Salvador
                    </p>
                    <p>
                        Izalco Sonsonate El Salvador
                    </p>
                </div>
                <div class="txt">
                    <h4>Horarios</h4>
                    <p>
                         Lunes a Viernes : 9 am - 8 pm
                    </p>
                    <p>
                     Sabado y Domingo : 11 am - 7 pm
                    </p>
                </div>
                <div class="txt">
                    <h4>Telefono</h4>
                    <p>
                       6828-7877
                    </p>
                    <p>
                     7010-0902
                    </p>
                </div>
                <div class="txt">
                    <h4>Redes sociales</h4>
                    <div class="socials">
                        <a href="#">
                            <div class="social">
                                <img src="images2/s2.svg" alt="">
                            </div>
                        </a>
                        <div class="social">
                            <a href="#">
                                <div class="social">
                                    <img src="images2/s3.svg" alt="">
                                </div>
                            </a>
                        </div>
                    </div> 
                </div>

               </div>   
           </div> 
    </section>


    <section>
        <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15502.515591160874!2d-89.6995071!3d13.7409034!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f62c7f7f7e31b0b%3A0x622aedfefa6e8bb4!2sIndustrias%20La%20Constancia%20%E2%80%A2%20Sonsonate!5e0!3m2!1ses-419!2ssv!4v1725030724266!5m2!1ses-419!2ssv" width="100%" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>

    <footer class="footer container">
        <img class="logo-2" src="images2/logo.svg" alt="">
        <div class="links">
            <h4>Lorem</h4>
            <ul>
                <li><a href="#">hola</a></li>
                <li><a href="#">hola</a></li>
                <li><a href="#">hola</a></li>
                <li><a href="#">hola</a></li>
            </ul>
        </div>
        <div class="links">
            <h4>Lorem</h4>
            <ul>
                <li><a href="#">hola</a></li>
                <li><a href="#">hola</a></li>
                <li><a href="#">hola</a></li>
                <li><a href="#">hola</a></li>
            </ul>
        </div>
        <div class="links">
            <h4>Lorem</h4>
            <ul>
                <li><a href="#">hola</a></li>
                <li><a href="#">hola</a></li>
                <li><a href="#">hola</a></li>
                <li><a href="#">hola</a></li>
            </ul>
        </div>
        <div class="links">
            <h4>Lorem</h4>
            <div class="socials">
                <a href="#">
                    <div class="social">
                        <img src="images2/s2.svg" alt="">
                    </div>
                </a>
                <div class="social">
                    <a href="#">
                        <div class="social">
                            <img src="images2/s3.svg" alt="">
                        </div>
                    </a >
                </div>
            </div> 
        </div>

    </footer>



    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <script src="../javascript/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            const renderedValue = '<%= typeof value !== "undefined" ? value : "" %>';
      if (renderedValue !== "") {
        $('#captured-value').text(renderedValue);
        $('#link-1').text('Al parecer ya tienes una tienda quieres verla 🥵');
        $('#link-1').attr('href', '/users/vertienda');
        console.log('Valor capturado:', renderedValue);
      } else {
        console.log('No se recibió un valor desde el servidor.');
      }
        });</script>
</body>

</html>