<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/verficacion.css">
    <title>Document</title>
</head>
<body>
    <h1 class="titulo_tema">Ordershop te da la Bienvenida</h1>

    <img class="logo" src="/stylesheets/logos-removebg-preview.png" alt="">

    <div  class="conteiner">
        <img class="adver" src="/stylesheets/pngwing.com-removebg-preview.png" alt="">
        <form action="/adminr/uploads" method="get">
            <p class="titulo_codigo">Por motivos de seguridad de la empresa se le pide, por favor, ingresar el código que se le dio al registrarse con nosotros.</p>

            <div class="codigos">
                 <input class="cod" type="text" name="codigo" placeholder="Ingresa el código">
            </div>
           
        <button class="accion_ok" type="submit">Aceptar</button>

        </form>
    </div>        
</body>
</html>