<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <form class="verification-form" action="/verificar_codigo" method="post">
            <h2>Código de Verificación enviado</h2>
            <p>Por favor ingrese el codigo de verificacion</p>

            <input type="text" id="codigo" name="codigo" placeholder="Codigo:">
            <button type="submit">Verificar</button>
        </form>
    </center>
</body>
</html>