<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/compras.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Document</title>
</head>
<body>
    <h1 class="titulo">Lista de tu Pedidos</h1>

    <div class="contenedor">
        <table id="container">
            <thead>
                <tr>
                    <th>Imagen</th>
                    <th>Descripción</th>
                    <th>Cantidad</th>
                    <th>Acciones</th>
                    <th>Total</th>
                </tr>
                <tr id="${nombre}">
                    <td><img src='nrgtg'' alt="Producto 1"></td>
                    <td>ever</td>
                    <td>12</td>
                    <td>1500</td>
                    <td><i class='bx bxs-trash' style='color:#ff0000; font-size: 24px;''></i></td>
                </tr>
                
            </thead>
            <tbody>
                
            </tbody>
        </table>
    </div>  

   

    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script>
        $(function () {
            $('.acep').click(function () {
                console.log('hola')
                
                location.href = '/pedido';
            });
            
        })
    </script>


    <script >
        $(function () {
            $.ajax({
        url: '/users/compra',
        method: 'GET',
        dataType: 'json',
        success: function(data) {
            
            console.log('Datos recibidos:', data);
          
           function addItemToContainer(imagen,nombre,cantidad,precio) {
                const $itemHtml = `
                <tr id="${nombre}">
                    <td><img src="${imagen}" alt="Producto 1"></td>
                    <td>${nombre}</td>
                    <td>${cantidad}</td>
                    <td>${precio}</td>
                    td>${total}</td>
                    <td><button data-id="${nombre}"  id="btn">Aceptar</button></td>
                </tr>
                
               
                `;
                return $itemHtml
            }

            vari=0;

        data.forEach(function(item) {
            console.log(item)

            var $itemDiv = addItemToContainer(item.imagen,item.nombre,item.cantidad,item.precio);
            $('#container').append($itemDiv);})
        

        

           
            
        },
        error: function(xhr, status, error) {
            console.error('Error en la petición AJAX:', error);
            $('#resultado').html('Error al cargar los datos');
        }
    });

    $('#container').off('click', '#btn').on('click', '#btn', function() {
        console.log('hola')

       /* var id = $(this).data('id');

        console.log(id)
        $(`#${id}`).closest('tr').remove();*/
        location.href = '/pedido';

    })

    

        
        







    
            
        })
        
        
            
             
        
    </script>
</body>
</html>