<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/compras.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Document</title>
</head>
<body>
    <h1 class="titulo">Lista de tu Pedidos</h1>

    <div class="contenedor">

        
        <div class="pedidos1">
            <img class="logo1" src="/stylesheets/image.png" alt="">
            <div class="descrip">
                <label for=""> Descripcion</label>
                <label class="descripp" for="">xfghjgcfdfgyuiijhgffghjk</label>
            </div>
        
            <div class="stock">
                <div class="unidd">
                    <label for="">cantidad</label>
                    <label class="pedidoss" for="">12 unidades</label>
                </div>
             </div>

            <div class="precio">
              <label class="titulo2" for="">Stock</label>
              <label class=" titulo3" for="">$ 120.000</label>
            </div>
        </div>
        <div class="eliminar1">
        <i class='bx bxs-trash' style='color:#ff0000'></i>

        </div>
        
         <div class="pedidos2">
            <img class="logo2" src="/stylesheets/image.png" alt="">
             <div class="descrip">
                <label for=""> Descripcion</label>
                <label class="descripp" for="">xfghjgcfdfgyuiijhgffghjk</label>
            </div>
        
            <div class="stock">
                <div class="unidd">
                    <label for="">cantidad</label>
                    <label class="pedidoss" for="">12 unidades</label>
                </div>
             </div>

            <div class="precio">
              <label class="titulo2" for="">Stock</label>
              <label class=" titulo3" for="">$ 120.000</label>
            </div>
        </div>
        <div class="eliminar2">
        <i class='bx bxs-trash' style='color:#ff0000'></i>

        </div>
        +
        <div class="pedidos3">
            <img class="logo3" src="/stylesheets/image.png" alt="">
            <div class="descrip">
                <label for=""> Descripcion</label>
                <label class="descripp" for="">xfghjgcfdfgyuiijhgffghjk</label>
            </div>
        
            <div class="stock">
                <div class="unidd">
                    <label for="">cantidad</label>
                    <label class="pedidoss" for="">12 unidades</label>
                </div>
             </div>

            <div class="precio">
              <label class="titulo2" for="">Stock</label>
              <label class=" titulo3" for="">$ 120.000</label>
            </div>
        </div>
        <div class="eliminar3">
        <i class='bx bxs-trash' style='color:#ff0000'></i>

        </div>

        <div class="pedidos4">
            <img class="logo4" src="/stylesheets/image.png" alt="">
            <div class="descrip">
                <label for=""> Descripcion</label>
                <label class="descripp" for="">xfghjgcfdfgyuiijhgffghjk</label>
            </div>
        
            <div class="stock">
                <div class="unidd">
                    <label for="">cantidad</label>
                    <label class="pedidoss" for="">12 unidades</label>
                </div>
             </div>

            <div class="precio">
              <label class="titulo2" for="">Stock</label>
              <label class=" titulo3" for="">$ 120.000</label>
            </div>
        </div>
        <div class="eliminar4">
        <i class='bx bxs-trash' style='color:#ff0000'></i>

        </div>
    </div>
    <button class="acep">Aceptar</button>
    <button class="cance">Cancelar</button>
</body>
</html>