<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/fechas.css">
    <title>Document</title>
</head>
<body>
    <div class="contenido1">
        <h2 class="fechas">Fecha: 09/5/24</h2>
    </div>

    <div class="profile-circle">
        <img src="/stylesheets/image-removebg-preview-_1_.ico" alt="Foto de Perfil">
    </div>

    <div class="contenido2">
        <table>
            <thead>
                <tr>
                    <th>Imagen</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><img src="imagen1.jpg" alt="Producto 1"></td>
                    <td>mango</td>
                    <td>1000</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td><img src="imagen2.jpg" alt="Producto 2"></td>
                    <td>mango</td>
                    <td>1000</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td><img src="imagen3.jpg" alt="Producto 3"></td>
                    <td>mango</td>
                    <td>1000</td>
                    <td>3</td>
                </tr>
            </tbody>
        </table>
    </div>

    <!--tabla 2-->
    <div class="contenido4">
        <table>
            <thead>
                <tr>
                    <th>Imagen</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><img src="imagen1.jpg" alt="Producto 1"></td>
                    <td>mango</td>
                    <td>1000</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td><img src="imagen2.jpg" alt="Producto 2"></td>
                    <td>mango</td>
                    <td>1000</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td><img src="imagen3.jpg" alt="Producto 3"></td>
                    <td>mango</td>
                    <td>1000</td>
                    <td>3</td>
                </tr>
            </tbody>
        </table>
    </div>

    <!--tabla 3-->
    
    <div class="contenido3">
        <table>
            <thead>
                <tr>
                    <th>Imagen</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><img src="imagen1.jpg" alt="Producto 1"></td>
                    <td>mango</td>
                    <td>1000</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td><img src="imagen2.jpg" alt="Producto 2"></td>
                    <td>mango</td>
                    <td>1000</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td><img src="imagen3.jpg" alt="Producto 3"></td>
                    <td>mango</td>
                    <td>1000</td>
                    <td>3</td>
                </tr>
            </tbody>
        </table>
    </div>

    <!--contenido total-->

    <div class="totales">
        <h2 class="cont">Total: $250</h2>
    </div>

    <button class="acep">Aceptar</button>
</body>
</html>