
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/hola.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Document</title>

</head>
<body>
   <form action="/registrar">
      <div class="box2">
     
        <spa class="bg-animate"></spa>
        <spa class="bg-animate2"></spa>


        <div class="form-box register{}">
            <h2>Crear Cuenta</h2>
            
               <div class="input-box">
                  <input type="text" required>
                  <label>Nombre</label>
                  <i class='bx bxs-user'></i>
               </div>
               <div class="input-box">
                <input type="text" required>
                <label>Apellido</label>
                <i class='bx bxs-envelope'></i>
             </div>
              
                 <div class="input-box">
                    <input type="password" required>
                    <label>Usuario</label>
                    <i class='bx bxs-lock-alt'></i>
                 </div>
                 
                    <div class="input-box">
                       <input type="text" required>
                       <label>Correo</label>
                       <i class='bx bx-store'></i>
                    </div>
                    
                        <div class="input-box">
                           <input type="text" required>
                           <label>Contraseña</label>
                           <i class='bx bx-right-arrow-alt'></i>
                        </div>
                 <button type="submit" class="btn">Crear
                 </button>
                 <div class="logreg-link">
                     <p>Ya tienes una cuenta? <a href="/" class="registrer-link">Inicio</a></p>
        
                 </div>
            
         </div>
   


       </div>
   </form>

</body>
</html>