<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estado del Pedido</title>
    <link rel="stylesheet" href="../stylesheets/estado.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div>
        <h2>hola</h2>
    </div><br><br><br>
    <div class="container">
        <h1>Estado de Tu Pedido</h1>
        <div class="order-status">
            <div class="status-card">
                <h2>Pedido en Camino:</h2><br>
                <p>Tu pedido está en camino y se espera que llegue pronto.</p>
                <div class="status-dot confirmed"></div>

            </div>
           
            <div class="container2">
                <div class="truck"></div>
           
           
            </div>
           
            </div>
        </div>
       
    </div>

    <div class="container">
        <h1>Estado de Tu Pedido</h1>
        <div class="order-status">
            <div class="status-card">
                <h2>Pedido en Camino:</h2><br>
                <p>Tu pedido Coca-cola está en camino y se espera que llegue pronto.</p>
                <div class="status-dot confirmed"></div>

            </div>
           
            <div class="container2">
                <div class="truck"></div>
           
           
            </div>
           
            </div>
        </div>
       
    </div>

    
    
    <div class="container">
        <h1>Estado de Tu Pedido</h1>
        <div class="order-status">
            <div class="status-card">
                <h2>Pedido en Camino:</h2><br>
                <p>Tu pedido está en camino y se espera que llegue pronto.</p>
                <div class="status-dot confirmed"></div>

            </div>
           
            <div class="container2">
                <div class="truck"></div>
           
           
            </div>
           
            </div>
        </div>
       
    </div>
    <br>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
        <script src="/javascript/funciones.js"></script>
        <script src="/javascript/main.js"></script>

    <script src="https://hammerjs.github.io/dist/hammer.min.js"></script>
            <script>
            var swipeArea = document.getElementById('swipeArea');
                
                // Crea una instancia de Hammer en el área seleccionada
                var hammer = new Hammer(document.body);

                hammer.on('swipeleft', function(event) {
                // Código para manejar el deslizamiento hacia la izquierda
                console.log('Deslizamiento hacia la izquierda detectado');
                window.location.href = '/principal'
            });

            // Escucha el evento de deslizamiento hacia la derecha
            hammer.on('swiperight', function(event) {
                // Código para manejar el deslizamiento hacia la derecha
                console.log('Deslizamiento hacia la derecha detectado');
                
                
             
                
            });
                
                // Configura para detectar deslizamientos hacia la izquierda
            /* hammer.get('swipe').set({ direction: Hammer.DIRECTION_LEFT });
                
                // Escucha el evento de deslizamiento hacia la izquierda
                hammer.on('swipeleft', function(event) {
                
                // Redirige a otra página o muestra otro archivo
                window.location.href = 'index2.html'})*/




            </script>
    
</body>
</html>
