<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estado del Pedido</title>
    <link rel="stylesheet" href="../stylesheets/estado.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="container">
        <h1>Estado de Tu Pedido</h1>
        <div class="order-status">
            <div class="status-card">
                <h2>Pedido en Camino:</h2><br>
                <p>Tu pedido está en camino y se espera que llegue pronto.</p>
                <div class="status-dot confirmed"></div>

            </div>
           
            <div class="container2">
                <div class="truck"></div>
           
           
            </div>
           
            </div>
        </div>
       
    </div>

    <div class="container">
        <h1>Estado de Tu Pedido</h1>
        <div class="order-status">
            <div class="status-card">
                <h2>Pedido en Camino:</h2><br>
                <p>Tu pedido está en camino y se espera que llegue pronto.</p>
                <div class="status-dot confirmed"></div>

            </div>
           
            <div class="container2">
                <div class="truck"></div>
           
           
            </div>
           
            </div>
        </div>
       
    </div>
    <div class="container">
        <h1>Estado de Tu Pedido</h1>
        <div class="order-status">
            <div class="status-card">
                <h2>Pedido en Camino:</h2><br>
                <p>Tu pedido está en camino y se espera que llegue pronto.</p>
                <div class="status-dot confirmed"></div>

            </div>
           
            <div class="container2">
                <div class="truck"></div>
           
           
            </div>
           
            </div>
        </div>
       
    </div>
    <br>
    
</body>
</html>
