<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estado del Pedido</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
           
            margin: 0;
            background-color:  #080202;
        }
        .container {
            background-color: white;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            padding: 20px;
            text-align: center;
            width: 300px;
        }
        .logo {
            max-width: 200px;
            margin-bottom: 20px;
        }
        .status {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 20px;
        }
        .truck {
            width: 100px;
            height: auto;
            margin-bottom: 20px;
        }
        .moving {
            animation: move 2s infinite linear;
        }
        @keyframes move {
            0% { transform: translateX(-50px); }
            100% { transform: translateX(50px); }
        }
        .total {
            font-size: 18px;
            font-weight: bold;
            margin-top: 20px;
        }
        .select-status {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <br>
    <div id="container"> 
        

    </div>
        
 

    
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="/javascript/funciones2.js"></script>
    <script src="/javascript/main2.js"></script>
    



</body>
</html>