<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/hola.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Document</title>
</head>
<body>
<style>
    .error { color: red; }
</style>
            <div class="box5">
               
               <br>

    <div class="form-box register{}">
        <h2 >Ingreso de Tienda</h2><br>
        <p class="holi2">¡Hola! Ingresa estos datos <br>para poder registrar tu tienda</p>
        <form id="tiendita" action ="/users/tienda" method="post" >

           <div class="input-box">
              <input name="nombre" id="Ntienda" type="text" >
              <label>Nombre de Tienda</label>
              <b><span class="error" id="tiendaError"></span></b>
              <i class='bx bx-store'></i>
           </div>

           <div class="input-box">
            <input name="direccion" id="direccion" type="text" >
            <label>Direccion</label>
            <b><span class="error" id="direccionError"></span></b>
            <i class='bx bx-right-arrow-alt'></i>
         </div>

         <div class="input-box">
            <input name="numero" id="numero" type="text" >
            <label>Numero de Telefono</label>
            <b><span class="error" id="numeroError"></span></b>
            <i class='bx bx-phone'></i>
         </div>

         <button type="submit" class="btn">Enviar</button>
           </form>
           </div>
        </div>

<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="/javascript/validacion.js"></script>
</body>
</html>