<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interfaz de Marcas</title>
    <link rel="stylesheet" href="/stylesheets/marca.css">
</head>
<body>
    <header>
        <h1>Marcas </h1>
    </header>
    <main  id="container">
        <section class="brands">
            
            <!--<div class="brand">
                <img src="/public/images/images4.png" alt="Marca 2">
               
            </div>
            <div class="brand">
                <img src="/public/images/images4.png" alt="Marca 3">
             
            </div>
            <div class="brand">
                <img src="/public/images/images.jfif" alt="Marca 4">
              
            </div>
            <div class="brand">
                <img src="/public/images/images3.png" alt="Marca 1">
         
            </div>
            <div class="brand">
                <img src="/public/images/images3.png" alt="Marca 1">
         
            </div>-->
        </section>
    </main>


    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="/javascript/otra.js"></script>
    <script src="https://hammerjs.github.io/dist/hammer.min.js"></script>
            <script>
            var swipeArea = document.getElementById('swipeArea');
                
                // Crea una instancia de Hammer en el área seleccionada
                var hammer = new Hammer(document.body);


                // Escucha el evento de deslizamiento hacia la derecha
                hammer.on('swiperight', function(event) {
                // Código para manejar el deslizamiento hacia la derecha
                console.log('Deslizamiento hacia la derecha detectado');
                window.location.href = '/principal'
                    
             
                
            });
            </script>
    
</body>
</html>
