<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <form class="recovery-form" action="/cambiar_contra" method="post">
            <h2>Verificacon Correcta</h2>
            <p>Por favor ingrese su nueva contraseña.</p>
        
            <input type="email" id="correo" name="correo" placeholder="Nueva contraseña:">
            <button type="submit">cambiar</button>
        </form>
    </center>
</body>
</html>