<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/shi.css">
    <title>Document</title>
</head>
<body>
   
      <!--empesas aca-->
<div id="mio">

    <div class="container">
        <div class="card">
            <div class="imgBx" style="background-image: url();"></div>
            <div class="content">
                <h3 id="nombre"><br><span id="precio" ></span></h3>
                <p>
                </p>
                <div class="counter">
                    <button onclick="decrement()">&#8722;</button>
                    <input type="text" id="number" value="0" readonly>
                    <button onclick="increment()">&#43;</button>
                </div>
                <div class="add-to-cart">
                    <button id="btn">Agregar al carrito</button>
                </div>
            </div>
        </div>
          <!--terninas aca-->  
        <div class="carri">
            <img class="carrito" src="/stylesheets/image.png" alt="">
        </div>
    </div>

    


</div>

<div class="float-div">
  <h3>Carrito de Compras</h3>
  <div class="cart-item">
    <div class="item-image" style="background-image: url('https://example.com/product1.jpg');"></div>
    <div class="item-info">
      <div class="item-name">Producto 1</div>
      <div class="item-price">$10.00</div>
      <div class="item-quantity">Cantidad: 1</div>
    </div>
    <span class="remove-item">×</span>
  </div>
  <div class="cart-item">
    <div class="item-image" style="background-image: url('https://example.com/product2.jpg');"></div>
    <div class="item-info">
      <div class="item-name">Producto 2</div>
      <div class="item-price">$15.00</div>
      <div class="item-quantity">Cantidad: 2</div>
    </div>
    <span class="remove-item">×</span>
  </div>
  <span class="close-btn">×</span>
</div>

<style>
  .float-div {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    z-index: 999;
    width: 300px;
  }

  .float-div h3 {
    margin-top: 0;
  }

  .cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .item-image {
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
    margin-right: 10px;
  }

  .item-info {
    flex-grow: 1;
  }

  .item-name {
    font-weight: bold;
  }

  .item-price {
    font-size: 14px;
  }

  .item-quantity {
    font-size: 12px;
  }

  .remove-item {
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
  }

  .close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 16px;
    cursor: pointer;
  }
</style>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="/javascript/product.js"></script>
    <script src="/javascript/mostrarp.js"></script>
    <script>
         $(".close-btn").click(function() {
          $(".float-div").hide();
        });
    </script>

    <script>
       $('.remove-item').click(function() {
      $(this).closest('.cart-item').remove();
    });
    </script>
</body>
</html>