<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/shi.css">

    
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="imgBx" style="--img:url(/public/images/jalapeños2.webp)"></div>
            <div class="content">
                <h3>Jalapeños Medianos<br><span>Diana</span></h3>
                <p>Ricos y crujientes frituras de maiz con un condimento 
                    picante para esos paladares enamorados del picante
                </p>
            </div>
        </div>
        <div class="card">
            <div class="imgBx" style="--img:url(/public/images/galletas.jpg)"></div>
            <div class="content">
                <h3>Galletas Picnic<br><span>Diana</span></h3>
                <p>Dulces y crujientes galletas tipo wafer rellenas con un delicioso sabor vainilla de alta calidad.
                </p>
                
            </div>
        </div>    
       
        <div class="card">
            <div class="imgBx" style="--img:url(/public/images/galletas.jpg)"></div>
            <div class="content">
                <h3>Galletas Picnic<br><span>Diana</span></h3>
                <p>Dulces y crujientes galletas tipo wafer rellenas con un delicioso sabor vainilla de alta calidad.
                </p>
            </div>
        </div>    
        <
        
 
</body>
</html>