<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/shi.css">
    <title>Document</title>
</head>
<body>
   
      <!--empesas aca-->
<div id="mio">

    <div class="container">
        <div class="card">
            <div class="imgBx" style="background-image: url();"></div>
            <div class="content">
                <h3><br><span></span></h3>
                <p>
                </p>
                <div class="counter">
                    <button onclick="decrement()">&#8722;</button>
                    <input type="text" id="number" value="0" readonly>
                    <button onclick="increment()">&#43;</button>
                </div>
                <div class="add-to-cart">
                    <button onclick="addToCart()">Agregar al carrito</button>
                </div>
            </div>
        </div>
          <!--terninas aca-->  
        <div class="carri">
            <img class="carrito" src="/stylesheets/image.png" alt="">
        </div>
    </div>

    


</div>

<div class="float-div">
    <h3>Información adicional</h3>
    <p>Este es un div que flota en la esquina superior derecha.</p>
    <span class="close-btn">×</span>
  </div>

  <style>
    .float-div .close-btn {
      position: absolute;
      top: 5px;
      right: 5px;
      font-size: 16px;
      cursor: pointer;
    }
    .float-div {
      position: fixed;
      top: 20px;
      right: 20px;
      background-color: #333;
      color: #fff;
      padding: 10px;
      border-radius: 5px;
      z-index: 999;
    }


  </style>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="/javascript/product.js"></script>
    <script>
         $(".close-btn").click(function() {
          $(".float-div").hide();
        });
    </script>
</body>
</html>