<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/shi.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Document</title>
</head>
<body>
    <div id="toastNotificacion" class="toast">No es dia para realizar peidodos regresa otro dia </div>
   
      <!--empesas aca-->
    <h1 class="product">Productos</h1>
<div id="mio">

      
   

    


</div>
    <style>
        #carrito-icono {
            position: fixed;
            top: 10px;
            right: 10px;
            font-size: 30px;
            cursor: pointer;
            z-index: 1000;
            color: rgb(255, 255, 255);
        }
        .float-div {
            position: fixed;
            top: 50px;
            right: 20px;
            background-color: #0000008e;
            color: #fff;
            padding: 10px;
            border-radius: 12px;
            z-index: 999;
            width: 300px;
            max-height: 400px;
            overflow-y: auto;
            display: none;
        }
        .float-div h3 {
            margin-top: 0;
        }
        .cart-item {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }
        .item-image {
            width: 50px;
            height: 50px;
            background-size: cover;
            background-color: #363636;
            background-position: center;
            margin-right: 10px;
        }
        .item-info {
            flex-grow: 1;
        }
        .item-name {
            font-weight: bold;
        }
        .item-price {
            font-size: 14px;
        }
        .item-quantity {
            font-size: 12px;
        }
        .remove-item {
            font-size: 16px;
            cursor: pointer;
            margin-left: 10px;
        }
        .close-btn {
            position: absolute;
            top: 5px;
            right: 5px;
            font-size: 16px;
            cursor: pointer;
        }
        #realizar-compra {
            display: block;
            width: 100%;
            padding: 10px;
            background-color: #0c5a7e;
            color: white;
            text-align: center;
            text-decoration: none;
            margin-top: 10px;
            border-radius: 8px;
            cursor: pointer;
        }
        #realizar-compra:hover{
            background-color: rgba(143, 1, 72, 0.438);
        }
        #total-carrito {
            display: inline-block;
            width: 35%;
            padding: 10px;
            text-align: center;
            margin-top: 10px;
        }
    </style>

    <div id="carrito-icono">
        <i class="fas fa-shopping-cart"></i>
        <span id="contador-carrito">0</span>
    </div>
    <div class="float-div">
        <span class="close-btn">&times;</span>
        <h3>Carrito de Compras</h3>
        <div id="cart-items">

           
        </div>

        
        <a href="#" id="realizar-compra">Realizar Compra</a>
        <span id="total-carrito">Total: $0</span>
    </div>

    <!-- Ejemplo de productos -->

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    
    <script>
        $(function() {

        var $id = "<%= mensaje %>";
        var $img = "<%= imagen %>";

        localStorage.setItem('id',$id)




        $.ajax({
            url: `/users/product?productoId=${$id}`,
            method: 'GET',
            dataType: 'json',
            success: function(darta) {
                console.log('Datos recibidos:', darta);


                function agregarNuevoProducto(producto) {
                var html = `
                <div class="card">
                    <div class="imgBx" style="background-image: url(${producto.imagen});"></div>
                    <div class="content">
                        <h3 id="nombre">${producto.nombre}<br><span id="precio" >$${producto.precio}</span></h3>
                        <p>${producto.descripcion}
                        </p>
                        <div class="add-to-cart">
                            <button data-id_m=${producto.marca_id} data-id=${producto.id} data-mmarca=${producto.imagen_marca} id="btn">  Agregar al carrito</button>
                        </div>
                    </div>
                </div>
                `;
                $('#mio').append(html);

            // $('#cart-items').append(html);
            }
                darta.forEach(function(item) {
                    agregarNuevoProducto(item);
                
                    
                })

                // Elimina la tarjeta original si no deseas mantenerla
            
            }
        });

        });
    </script>
    


<script src="https://hammerjs.github.io/dist/hammer.min.js"></script>
<script>
var swipeArea = document.getElementById('swipeArea');
    
    // Crea una instancia de Hammer en el área seleccionada
    var hammer = new Hammer(document.body);


    // Escucha el evento de deslizamiento hacia la derecha
    hammer.on('swiperight', function(event) {
    // Código para manejar el deslizamiento hacia la derecha
    console.log('Deslizamiento hacia la derecha detectado');
    window.location.href = '/marca'
        
 
    
});
</script>
<script src="/javascript/Carrito.js" ></script>
<script src="/javascript/bloquear.js"></script>
<script src="/javascript/productos.js"></script>
    
  
<style>
    #btns {
        font-size: 34PX;
        background-color: #1c2124;
    }

</style>
<style>
    .toast {
      visibility: hidden;
      min-width: 250px;
      background-color: #333;
      color: #fff;
      text-align: center;
      border-radius: 2px;
      padding: 16px;
      position: fixed;
      z-index: 1;
      top: 30px;
      left: 50%;
      transform: translateX(-50%);
    }

    .toast.mostrar {
      visibility: visible;
      animation: fadeIn 0.5s, fadeOut 0.5s 2.5s;
    }

    @keyframes fadeIn {
      from {
        top: 0;
        opacity: 0;
      }
      to {
        top: 30px;
        opacity: 1;
      }
    }

    @keyframes fadeOut {
      from {
        top: 30px;
        opacity: 1;
      }
      to {
        top: 0;
        opacity: 0;
      }
    }
  </style>


    
</body>
</html>