<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <form class="recovery-form" action="/recuperar_cuenta" method="post">
            <h2>Haz olvidado tu contraseña</h2>
            <p>Por favor ingrese su correo electronico para enviarle un codigo de verificacion.</p>
        
            <input type="email" id="correo" name="correo" placeholder="introduzca su correo:">
            <button type="submit">Enviar</button>
        </form>
    </center>
</body>
</html>