<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <center>
    <div class="container">
    <form action="/" method="post">

        Nombre:
        <input type="text" name="nom" id="nom"><br><br>
        
        Apellido:
        <input type="text" name="apell" id="apell"><br><br>

        Usuario:
        <input type="text" name="user" id="user"><br><br>

        Correo:
        <input type="email" name="correo" id="correo"><br><br>

        Contraseña:
        <input type="password" name="pass" id="pass"><br><br>

        <button type="submit">enviar</button>

    </form>
    </div>
    </center>
    
</body>
</html>