<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/hola.css">
    <link rel="stylesheet" href="/stylesheets/update_contra.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/54b3975121.js" crossorigin="anonymous"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Document</title>
</head>
<body>
   <form   method="post">
            <div class="box3">
               
               <br>

    <div class="form-box register{}" id="formulario" style="display:none;">
        <h2 >Nueva Contraseña</h2><br>
        <p class="holi2"> Ingrese su nueva contraseña</p>
           <div class="input-box">
              <input type="text" name="pass" id="contraseña" value="<% if(typeof valores != 'undefined') { %><%= valores.pass %><% } %>">
              <label>Contraseña</label>
              <i class='bx bxs-lock-alt'></i>
              <div id="inpu1" ></div>
           </div>
           <p class="holi2"> Repartir contraseña </p>
              <div class="input-box">
                 <input type="text" name="confirm-pass" id="contra2" value="<% if(typeof valores != 'undefined') { %><%= valores.pass %><% } %>">
                 <label>Confirmar Contraseña</label>
                 <i class='bx bxs-lock'></i>
                
              </div>
              <div id="inpu2" ></div>
           <button type="submit" class="btn">Cambiar
           </button>
          

           </div>
           
        </div>

        <div class="box6" id="errorMessage" style="display: none;"> </div>


        <div class="wrapper" id="successMessage" style="display:block;"  >

            <center>
        
                <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                    <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/>
                    <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
                  </svg>
                  <p class="ley" style="color: green;">¡Contraseña cambiada con éxito!</p>

                  <button  id="boton2" type="submit" class="btn animation">Iniciar Sesion
                  </button>
        
            </center>
           
        </div>
   </form>








  



   <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
   
   <script src="../javascript/updatcontra.js"></script>

   <script>
      $(function() {

                  

            $('.bxs-lock-alt').on('click', function() {



            // Cambiar el icono
            $(this).toggleClass('bxs-lock-open');
            
            // Mostrar/ocultar contraseña
         
            var passwordInput = $('#contraseña');
            if (passwordInput.attr('type') === 'password'  ) {
               passwordInput.attr('type', 'text');
            } else {
               passwordInput.attr('type', 'password');
            }
            });
            $('.bxs-lock').on('click', function() {



            // Cambiar el icono
            $(this).toggleClass('bxs-lock-open');

            // Mostrar/ocultar contraseña

            var password = $('#contra2');
            if (password.attr('type') === 'password'  ) {
               password.attr('type', 'text');
            } else {
               password.attr('type', 'password');
            }
            });





});
   </script>


<style>
   @media screen and (max-width: 799px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    padding-top: 250px;
  }

  .checkmark,
  .ley,
  .buton {
    position: static;
    margin: 20px auto;
  }

  .ley {
    width: 90%;
    max-width: 400px;
  }

  .buton {
    margin-right: 100px;
    box-shadow: none;
    text-shadow: none;
    width: 80%;
    max-width: 200px;
    padding: 15px;
    font-size: 18px;
    border-radius: 25px;
    background: linear-gradient(to right, #00b4db, #0083b0);
    color: white;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
  }

  .buton:hover {
    transform: scale(1.05);
  }

  body {
    margin: 0;
    padding: 100px;
   
  }
}
  
</style>


</body>
</html>