<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/hola.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Document</title>
</head>
<body>
            <div class="box5">
               


    <div class="form-box register{}">
               <br>
        <h2 >Nombre de Usuario</h2><br>
        <p class="holi2"> Ingrese su Usuario</p>
        <form action="#">
           <div class="input-box">
              <input type="text" required>
              <label>@example_123</label>
              <i class='bx bx-user'></i>
           </div>
           <button type="submit" class="btn">Enviar
        </button>
           </form>
           </div>
        </div>


</body>
</html>