<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/hola.css">
    <link rel="stylesheet" href="/stylesheets/hola2.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Document</title>
</head>
<body>
            <div class="box5">
               


    <div class="form-box register{}">
               <br>
        <h2 >Nombre de Usuario</h2><br>
        <p class="holi2"> Ingrese su Usuario</p>
        <form action="/rrrr1" method="post">
           <div class="input-box">
              <input type="text" id="usuario"  name="usuario" >
              <label>@example_123</label>
              <i class='bx bx-user'></i>
           </div>
           <% if (typeof errors !== 'undefined') { %>
            <% if ( errors.usuario) { %>
            <div id="err">
                <h2 class="error" 
                    
                    style="font-family: 'Arial', Times, serif;
                    font: small-caps 200% serif;
                    font-size: 18px;
                    color: #A7A7A7;
                    position: relative;
                    top: -15x;

                    "> <%= errors.usuario%> </h2>
                </div>
      <% } %>
      <% } %>
           <button type="submit" class="btn2">Enviar
        </button>
           </form>
           </div>
        </div>


        <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
        <script>
          $(function () {

            var $passwordInputs = $('#usuario');
               
                
        
               $passwordInputs.on('input', function() {
                   // Oculta el mensaje de error
           
               
                   $('#err').empty();
               });
            
          })
           
        </script>


</body>
</html>