*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    background-color: #081b29;
}

.titulo{
    position: absolute;
    text-align: center;
    color: white;
    left: 40%;
    top: 2%;
}

.contenedor{
    position: absolute;
    border: 2px solid;
    height: 300px;
    width: 600px;
    top: 20%;
    left: 30%;
    border-color: aqua;
    overflow: auto;
}
.pedidos1{
    position: absolute;
    top: 2%;
    border: 2px solid;
    border-color: white;
    height: 30%;
    width: 100%;
    border-radius: 12px;
    background-color: rgba(105, 105, 105, 0.342);
}
.pedidos2{
    position: absolute;
    top: 35%;
    border: 2px solid;
    border-color: white;
    height: 30%;
    width: 100%;
    border-radius: 12px;
    background-color: rgba(105, 105, 105, 0.342);
}